@model IEnumerable<CategoryProductVM>

<div class="container mt-5">
    <h2 class="text-center"> Categories</h2>
    <div class="create-operation mb-5">
        <a asp-action="Create" class=" btn btn-success">
            <i class="zmdi zmdi-assignment-returned"></i>
        </a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Product Count</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="category-data">
                        <td>@item.CategoryName</td>
                        <td>@item.CreatedDate</td>
                        <td>@item.ProductCount</td>
                        <td>
                            <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary "><i class="zmdi zmdi-info-outline"></i></a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="zmdi zmdi-brush"></i></a>
                            <form class="d-inline" method="post" asp-action="Delete" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-block"></i></button>
                            </form>
                            <a  class="btn btn-secondary add-archive" data-id="@item.Id"><i class="zmdi zmdi-archive"></i></a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section js{
<script asp-append-version="true" src="~/admin/assets/js/archive.js"></script>
 }